.contact {
    background-image: linear-gradient(180deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 100%);
}

.contact__container {
    text-align: center;
    padding-top: 53px;
}
.contact__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}
.contact__heading {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
}
.contact__description {
    font-size: 18px;
    max-width: 657px;
    margin: 8px auto 32px;
    ;
}

.contact__btn {
    padding: 11px 18px;
    font-size: 18px;
    border-radius: 8px;
}

