.enterprise__container {
    padding-top: 200px;
    padding-bottom: 150px;
    
    
   
}

.enterprise__heading {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    text-align: center
}


.enterprise__list {position: relative;
    @include reset-list;
    
    &::before {
        background-image: url("../../img/enterprise-img.svg");
        display: block;
        content: ('');
        width: 528px;
        height: 392px;
        position: absolute;
        top: 30px;
        left: 0;
    }
}
.enterprise__item {
    max-width: 540px;
    margin: 63px 0 0 auto;
    margin-bottom: 40px;
    &:last-child {
        margin-bottom: 0;
    }
    &--enterpreneur{
    position: relative;
        &::before {
            background-image: url("../img/enterprise-lift.svg");
            display: block;
            content: ('');
            width: 50px;
            height: 50px;
            top: -5px;
            left: 0;
            position: absolute;
        }  
    } 
    &--accountants {
        position: relative;
        &::before {
            background-image: url("../../img/accountants.svg");
            position: absolute;
            display: block;
            content: ('');
            width: 50px;
            height: 50px;
            top: -5px;
            left: 0;
        }       
    }
    &--universities {
        position: relative;
        &::before {
            background-image: url("../../img/universities.svg");
            position: absolute;
            display: block;
            content: ('');
            width: 50px;
            height: 50px;
            top: -5px;
            left: 0;
        }
    }
}

.enterprise__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 23px 65px;
}
.enterprise__item-description {
    line-height: 28px;
    max-width: 533px;
}

@media only screen and (max-width: $tablet) {
    .enterprise__list {
        &::before {
            background-image: url("../../img/enterprise-mobile.svg");
            width: 352px;
            height: 288px;
            position: static;
            margin: 0 auto;
        }
    }
    .enterprise__item {
        margin: 50px auto;
    }
}