
.nav {
    display: flex;
    align-items: center;
    
}
.nav__list {
    display: flex;
    align-items: center;
    @include reset-list;
}
.nav__item {
    margin-left: 24px;
}
.nav__item-link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
}
.nav__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    padding: 10px 22px 9px 25px;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 24px;
    &:hover {
        background-color:rgba(2, 137, 122, 1);
        color: #FFFFFF;
    }
}
@media only screen and (max-width:$tablet) {
    .nav__item {
        margin-left: 5px;
    }
    .nav__link {
        margin-right: 5px;
        margin-left: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width:$mobile) {
    .nav {
        display: none;
    }
    .header__nav--opened {
        display: block;
    }
    .nav__list {
        display: block;
    }
    .nav__item {
        display: block;
        margin: 0;
        margin-bottom: 20px;
    }
    .nav__link {
        margin: 0;
        padding: 10px 22px 9px 25px;
        margin-bottom: 20px;
    }
}