.stratege {
    padding-top: 150px;

}
.stratege__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
    margin-bottom: 8px;
}
.stratege__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin-bottom: 33px;
}
.stratege__list {
    @include reset-list;
    display: flex;
    justify-content: space-between;
}
.stratege__item {
    width: calc((100% - 64px) / 3);
    border-radius: 8px;
    border: 1px solid #DEDEDE;
}
.stratege__description {
    padding: 24px 30px 40px 24px;
}
.stratege__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    margin-bottom: 12px;
}
.stratege__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
}
.stratege__item-title--active {
    color: #02897A;
}
.stratege__list-btn {
    @include reset-list;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 150px;
}
.stratege__item-btn {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}
.stratege__btn {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    background-color: #EFEFEF;
}
.stratege__btn--active {
    background-color: rgba(2, 137, 122, 1);
}